<div  class="presentacioContainer">
    <p>Bienvenidos a la primera edición de Aprender Fácil Lenguaje Visual de Microcontroladores PIC. En la actualidad, el avance de la tecnología ha logrado mejorar e incorporar mayor cantidad de dispositivos electrónicos que dan respuestas o soluciones al quehacer diario de las personas y mejorar sus vidas. Tanto la fabricación de nuevos microcontroladores potenciados en mayor cantidad de pines, memoria de trabajo y demás cuestiones, que se creen nuevos programas para la programación de estos chips, donde la mayoría de los casos son complejos o requieren mayor tiempo y una capacitación académica adecuada.</p>
    <br>
    <p>Soy Ricardo Alcides Canaveri, ingeniero.   En este texto, les enseñaré cómo resolver esta problemática, pensando especialmente en la importancia que hoy en día tiene la programación de microcontroladores, de manera que logren incorporar los conocimientos básicos de estos chips, programen sus propios algoritmos en “Niple” con una facilidad y rapidez, de modo que puedan simularlos, corregirlos y optimizarlos en el laboratorio virtual de diseño electrónico “Proteus”,  además  los instruiré   con un propósito:   Que logren alcanzar fácilmente el completo dominio de los programas Niple y Proteus, pudiendo de esta manera, cada uno de ustedes, desarrollarse con sus proyectos en cualquier ámbito, en forma  laboral, académica o profesional.</p>
    <br>
    <p>Para lograr el aprendizaje efectivo, he puesto especial atención en cada tema, explicando de modo didáctico y sencillo. En la totalidad de los capítulos del libro pueden hallar un diseño visual perfilado y pulido. Gracias a estos valores y, al carácter práctico de los distintos temas, podrán incorporar todos los conceptos con asombrosa facilidad.</p>
    <br>
    <p>Para que puedan comprender y asimilar este mundo fascinante de la programación visual de Microcontroladores PIC, pensé mucho en ustedes, buscando elementos para que nadie se quede afuera, frustrándose y pensando que nunca podrán completar ese aprendizaje.  Deseo que incorporen nuevos saberes, instruyendo un método extraordinario, de esta manera, podrán familiarizarse de manera instantánea con el lenguaje visual de los microcontroladores, conducidos por los conocimientos eficaces y prácticos que experimentarán sobre el uso del laboratorio virtual que utilizaremos.</p>
    <br>
    <p> Este libro está dividido en 7 capítulos, con el fin de que puedan obtener una mejor organización de los contenidos, ir alcanzando los conocimientos y aprender el manejo de los microcontroladores PIC, su lenguaje visual y esquemas en el laboratorio virtual para descubrir resultados más eficientes.</p>
    <br>
    <p>Confiando que este método es el camino sencillo y eficaz, dejo en sus manos todos mis conocimientos.</p>
    <br>
    <p>¡Muchas Gracias! </p>
    <br>
    <br>

    <button routerLink="/">Volver</button>
</div>
