<div class="containerHome">
    <div class="imgContainer">
        <img class="imgLibro" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637843404/portada_web_xgbdzp.png" alt="">
    </div>
    <div class="slider">
        <div class="slider-tracks">
            <div class="slide">
                <a href="mailto:canaric@gmail.com"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/gmail_i3iby3.png" alt="gmail"></a>                
            </div>           
            <div class="slide">
                <a href="https://www.youtube.com/user/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637847997/youtube_nrfqg8.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://www.linkedin.com/in/espingcanaveri/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/linkedin_askarz.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://t.me/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/telegram_cok3po.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://www.instagram.com/ing.canaric/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846993/instagram_w1vmbz.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://www.facebook.com/profile.php?id=100071906101288"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848289/facebook_rc5kqk.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://twitter.com/Ricardo79311902"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/twitter_zywcyc.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="https://www.amazon.com/gp/profile/amzn1.account.AEZQLG2EESRCKFXRH3HS3GAX3EUQ"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848945/amazon_dprxnf.png" alt="gmail"></a>
                
            </div>           
            <div class="slide">
                <a href="mailto:canaric@gmail.com"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/gmail_i3iby3.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.youtube.com/user/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637847997/youtube_nrfqg8.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.linkedin.com/in/espingcanaveri/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/linkedin_askarz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://t.me/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/telegram_cok3po.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.instagram.com/ing.canaric/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846993/instagram_w1vmbz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.facebook.com/profile.php?id=100071906101288"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848289/facebook_rc5kqk.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://twitter.com/Ricardo79311902"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/twitter_zywcyc.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.amazon.com/gp/profile/amzn1.account.AEZQLG2EESRCKFXRH3HS3GAX3EUQ"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848945/amazon_dprxnf.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="mailto:canaric@gmail.com"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/gmail_i3iby3.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.youtube.com/user/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637847997/youtube_nrfqg8.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.linkedin.com/in/espingcanaveri/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/linkedin_askarz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://t.me/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/telegram_cok3po.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.instagram.com/ing.canaric/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846993/instagram_w1vmbz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.facebook.com/profile.php?id=100071906101288"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848289/facebook_rc5kqk.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://twitter.com/Ricardo79311902"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/twitter_zywcyc.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.amazon.com/gp/profile/amzn1.account.AEZQLG2EESRCKFXRH3HS3GAX3EUQ"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848945/amazon_dprxnf.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="mailto:canaric@gmail.com"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/gmail_i3iby3.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.youtube.com/user/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637847997/youtube_nrfqg8.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.linkedin.com/in/espingcanaveri/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/linkedin_askarz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://t.me/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/telegram_cok3po.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.instagram.com/ing.canaric/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846993/instagram_w1vmbz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.facebook.com/profile.php?id=100071906101288"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848289/facebook_rc5kqk.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://twitter.com/Ricardo79311902"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/twitter_zywcyc.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.amazon.com/gp/profile/amzn1.account.AEZQLG2EESRCKFXRH3HS3GAX3EUQ"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848945/amazon_dprxnf.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="mailto:canaric@gmail.com"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/gmail_i3iby3.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.youtube.com/user/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637847997/youtube_nrfqg8.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.linkedin.com/in/espingcanaveri/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/linkedin_askarz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://t.me/canaric"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/telegram_cok3po.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.instagram.com/ing.canaric/"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846993/instagram_w1vmbz.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://www.facebook.com/profile.php?id=100071906101288"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637848289/facebook_rc5kqk.png" alt="gmail"></a>
            </div>           
            <div class="slide">
                <a href="https://twitter.com/Ricardo79311902"><img class="logoSocial" src="https://res.cloudinary.com/dgq2ycemj/image/upload/v1637846992/twitter_zywcyc.png" alt="gmail"></a>
            </div>         
                     
        </div>        
    </div>
    <div class="buttonContainer">
        <button class="buttonComprar" ><a class="enlaceComprar" href="https://www.amazon.com/-/es/dp/B09N24CKK9/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=easy+leaner+view+lenguage+of+pic+microcontrols&qid=1638675490&sr=8-1">COMPRAR<img class="shoppingCart" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-miscellaneous-kiranshastry-lineal-kiranshastry.png"/></a></button>
        <button routerLink="acerca" class="buttonComprar acerca">ACERCA DEL LIBRO</button>
    </div>
</div>

